<div class="modal-header">
  <h4 class="modal-title">Configure Challenge Paths</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form">
    <div *ngFor="let requiredPath of requiredPaths" class="row">
      <div class="col">
        <label class="mr-2">{{ requiredPath.label }}</label>
      </div>
      <div class="col">
        <ng-template #pathTip>
          Current path: <code>{{ pathsService.getPath(requiredPath.pathName) }}</code>
        </ng-template>
        <input #basicSearchPath type="text" class="form-control mb-2 mr-sm-2"
               formControlName="{{ requiredPath.pathName }}" [formGroup]="form"
               value="{{ pathsService.getPath(requiredPath.pathName) }}"
               placeholder="{{ requiredPath.placeholder }}" [ngbTooltip]="pathTip">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="onSubmit(); activeModal.close()"
              class="btn btn-primary" data-dismiss="modal">Configure Paths
      </button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Discard</button>
    </div>
  </form>
</div>

