.sidebar {
    background: #343a40;
    color: #fff;
}

.sidebar-header {
    padding: 25px 10px 20px 10px;
  }

  .logo {
      height: 15%;
  }

  .nav-tree {
    height: 75%;
    overflow-y: scroll;
  }

  .configure-server-btn {
      height: 10%;
  }