<div class="jumbotron">
  <h1 class="title display-4"><strong>Flight Search</strong></h1>
  <p class="subtitle">Sort of like <strong>Priceline</strong> or <strong>Kayak</strong>, but you get to choose the prices.</p>
  <hr class="my-4">
  <p>
    For this practice, you will need to build a backend API that receives query params and returns relevant results.
    You'll exercise working with multiple parameters and tuning up performance inefficiencies.
  </p>
  <p class="lead">
    <a routerLink="/flight-search/data-access" class="btn btn-primary btn-lg" role="button">Start practicing</a>
  </p>
</div>
