<div class="jumbotron">
  <h1 class="title display-4"><strong>Flight Search</strong></h1>
  <p class="subtitle">Sort of like <strong>Priceline</strong> or <strong>Kayak</strong>, but you get to choose the prices.</p>
  <hr class="my-4">
  <p>
    In this set of challenges, you are required to build a backend API that receives different query params and returns relevant results,
    suggesting flights for a potential user for a possible purchase.
    Each challenge adds features and possibilities upon the former one.
  </p>
  <p>
    This set may assist with strenghthening API skills which are not plain RESTful ones.
    It also introduces gradually increasing complexity that will require performance tune-ups in order to acheive timely responses.
  </p>
  <p class="lead">
    <a routerLink="/flight-search/data-access" class="btn btn-primary btn-lg" role="button">Get Started</a>
  </p>
</div>
