<div class="jumbotron">
  <h1 class="title display-4"><strong>Backend Skills in Practice.</strong></h1>
  <p class="subtitle lead"><strong>Practice Backend</strong> supplies up-and-working frontend parts to help you sharpen up your backend abilities.</p>
  <hr class="my-4">
  <p>
    Get a real feel of things built in your backend studying process.
    Walk through the evolving stages of crafting the backend parts for modern web applications with clear purposes.
  </p>
  <p class="lead">
    <a routerLink="/flight-search/intro" class="btn btn-primary btn-lg" role="button">Get Started</a>
  </p>
</div>
