#messages {
    background-color: #343a40;
    overflow-y: scroll;
}

.content {
    color: white;
}

.timestamp {
    color: #b3b3b3;
}

li {
    list-style-type: none;
}

#resume {
    color: #008000;
}

#pause, #trash {
    color: #7d7d7d;
}